# managed_by=ansible site_user={{ site.user }}

server {
    listen 80;

    server_name {{ site.domain }};

    root /sites/{{ site.domain }}/files;
    index index.php index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ php_version }}-{{ site.user }}.sock;
    }
}